.new-tweet {
  border-radius: 5px;
  border: 2px solid #E9E9E9;
  background-color: #EEEEEE;
  margin: 0px 2em;
  padding: 10px;
}

.new-tweet h2 {
  border-bottom: thin solid black;
  margin-top: 0px;
}

.new-tweet textarea {
  width: 100%;
}

.new-tweet span {
  float: right;
}

.new-tweet .error {
  color: red;
}