.tweet {
  border-radius: 5px;
  border: 2px solid #E9E9E9;
  background-color: white;
  margin: 10px 2em;
}

.tweet:hover {
  border: 2px solid #666666;
}

.tweet:hover footer span {
  display: inline;
}

.tweet:hover header {
  opacity: 1.0;
}

.tweet header {
  background-color: #EEEEEE;
  opacity: 0.7;
  padding: 10px;
  overflow: auto;
}

.tweet header h1 {
  margin: 0px 10px;
  display: inline;
}

.tweet header img {
  width: 70px;
  border-radius: 5px;
  float: left;
}

.tweet header span {
  float: right;
}

.tweet footer {
  padding: 10px;
  border-top: thin solid #F3F3F3;
}
.tweet footer p {
  font-size: 14px;
  padding: 0px;
  display: inline;
}

.tweet footer span {
  display: none;
  float: right;
}

.tweet footer .fa {
  color: #00CBBA;
  padding: 0px 2px;
}

/*Will be added and refactored by SASS */
.tweet:hover footer span i.fa.fa-heart span {
  padding-left: 5px;
}

.tweet:hover footer span i.fa.fa-heart:hover {
  color: red;
  cursor: pointer;
}

.tweet p {
  padding: 10px 10px;
  word-break: break-all;
}
